{% comment %}
    The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
{%- assign collection_handle = collection.handle | prepend: 'collection-' -%}
{%- assign subs = linklists[collection_handle].links -%}
{% if subs != blank %}
    <div class="collection-subs">
        <div class="container">
            <div class="row">
                {% for sub in subs %}
                    {% assign subitem_handle = sub.title | handle -%}
                    <div class="col-md-3 col-xs-12">
                        <div class="sub-collection_item">
                            <div class="sub-collection_title">
                                <a href="{{ collections[subitem_handle].url }}">{{ collections[subitem_handle].title }}</a>
                            </div>
                            {% if collections[subitem_handle].image %}
                                <div class="image-custom" style="padding-top: 128%;">
                                    <img class="img-fluid image-responsive" src="{{ collections[subitem_handle].image | img_url: 'master' }}" alt="Sub image"></div>
                                {% else %}
                                    <div class="image-custom" style="padding-top: 128%;">
                                        {{ 'collection-1' | placeholder_svg_tag }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if collection.products_count > 0 %}
        {% section 'collection-template' %}
    {% endif %}
